/*Importaciones de Fuentes de Texto*/
@font-face {
    font-family: 'upheavtt';
    src: url('../Assets/Fonts/upheavtt.ttf');
}
/*Elementos propios HTML*/
*{
    background-color: black;
}form{
    border: 10px solid white;
    background-color: black;
}p{
    color: white;
    font-size: 250%;
    font-family: 'upheavtt', sans-serif;
    text-align: start;
    position: absolute;
    top: 1%;
    left: 1%;

}input[type="button"]{
    width: 49.5%;
    height: 49.5%;
    font-size: 200%;
    font-family: 'upheavtt', sans-serif;
    color: white;
}
/*Objetos*/
    /*Recuadros*/
#SquareCommand{
    align-items: center;
    width: 70vh;
    height: 20vh;
    position: absolute;
    top: 5vh;
    left: 50vh;
}#SquareAttack{
    align-items: center;
    display: none;
    width: 17vw;
    height: 20vh;
    position: absolute;
    top: 5vh;
    left: 65vh;
}#SquareItems{
    align-items: center;
    display: none;
    width: 17vw;
    height: 20vh;
    position: absolute;
    top: 5vh;
    left: 40vw; 
}#SquareNarracion{
    width: 100vh;
    height: 25vh;
    position: absolute;
    top: 70vh;
    left: 100vh;

}#SquareStatus{
    width: 22vh;
    height: 40vh;
    position: absolute;
    top: 6vh;
    left: 6vh;
}#SquareEnemy{
    width: 50vh;
    height: 50vh;
    background-color: black;
    position: absolute;
    top: 10vh;
    left: 125vh;
    border-radius: 50vh;
    z-index: -1;
}
    /*Botones*/
#Atacar1{
    width: 17vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
}#Atacar2{
    width: 17vw;
    height: 10vh;
    position: absolute;
    top: 10vh;
    left: 0;
}#Item1{
    width: 17vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
}#Item2{
    width: 17vw;
    height: 10vh;
    position: absolute;
    top: 10vh;
    left: 0;
    /*Parrafos*/
}#Nombre{
    font-size: 9vh;
    position: absolute;
    top: -15vh;
    left: 3vh;
}#stats{
    position: absolute;
    top: -6%;
    left: 10%;
}#puntos{
    position: absolute;
    top: -6%;
    left: 65%;
}#Narracion{
    position: absolute;
    top: -12%;
    left: 3%;
}#Comandos{
    font-size: 350%;
    position: absolute;
    top: -72%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}#Ataques{
    position: absolute;
    top: -10vh;
    left: 3vw;
    z-index: 1;
}#Items{
    position: absolute;
    top: -10vh;
    left: 5vw;
    z-index: 1;
}#Ataque{
    color: brown;
    background-color: transparent;
    position: absolute;
    left: 175vh;
    top: 35vh;
    /*Imagenes*/
}#Tanaka{
    height: 75vh;
    position: absolute;/*mantiene el elemento fijo en la ventana del navegador, lo que evita que estire la página hacia abajo.*/
    top: -12.5vh;
    left: 9vh;
    z-index: 0;
    background-color: transparent;
    /*"FILTROS": hue-rotate(45deg)=>filtro que sobrepone colores||invert(0)=>invierte los colores||*contrast(0)=>lo deja sin color || brightness(2)=>efecto de luz*/
}#TanakaAtaqueFrames1{
    height: 75vh;
    position: absolute;
    top: -12.5vh;
    left: 9vh;
    background-color: transparent;
    opacity: 0;
}#TanakaAtaqueFrames2{
    height: 75vh;
    position: absolute;
    top: -12.5vh;
    left: 9vh;
    background-color: transparent;
    opacity: 0;
}#Player{
    height: 60vh;
    position: absolute;
    top: 40vh;
    left:20vh;
    background-color: transparent;
}#Disparo{
    height: 60vh;
    position: absolute;
    top: 40vh;
    left: 20vh;
    background-color: transparent;
    opacity: 0;
    z-index: -1;
}
/*Clases*/
.Square{
        border-radius: 2.5vh;
        border: 10px solid white

}.Command{
    width: 25vw;
    height: 5vh;
}.animacion1{
    animation-name: vibrarA;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}.animacion2{
    animation-name: vibrarB;
    animation-duration: 0.75s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}.animacion3{
    animation-name: vibrarC;
    animation-duration: 0.75s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}.animacion4{
    animation-name: Descender;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}.animacionDisparo{
    animation-name: Disparo;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}.animacionRecibirDisparo{
    animation-name: RecibirDisparo;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}.animacionLuz{
    animation-name: Luz;
    animation-duration: 1.75s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}
/*animaciones*/
@keyframes vibrarA {
    0% { transform: translateX(0vh);border: 10px solid white}
    25% { transform: translateX(1vh);border: 10px solid red}
    50% { transform: translateX(-1vh);border: 10px solid white}
    75% { transform: translateX(1vh);border: 10px solid red}
    100% { transform: translateX(0vh);border: 10px solid white }
}@keyframes vibrarB {
    0% { transform: translateX(0vh);background-color: black}
    25% { transform: translateX(-1vh);background-color: red}
    50% { transform: translateX(1vh);background-color: black}
    75% { transform: translateX(-1vh);background-color: red}
    100% { transform: translateX(0vh);background-color: black}
}@keyframes vibrarC {
    0% {transform: translateX(0vh);}
    25% {transform: translateX(1vh);}
    50% {transform: translateX(-1vh);}
    75% {transform: translateX(1vh);}
    100% {transform: translateX(0vh);}    
}@keyframes Descender {
    0% {position: fixed;
        top: 0vh;
        left: 134vh;
        transform: translateY(0vh);}
    100%{position: fixed;
        top: 0vh;
        left: 134vh;
        transform: translateY(100vh);}

}@keyframes Disparo{
    0% {opacity: 0;}
    100%{opacity: 1;}
}@keyframes Luz{
    0%{filter: brightness(1);}
    100%{filter: brightness(3);}
}@keyframes RecibirDisparo{
    0% {filter: contrast(1);}
    100% {filter: contrast(0);}
}
