/*IMPORTACION DE FUENTES DE TEXTO*/
@font-face {
    font-family: 'upheavtt';
    src: url('../Assets/Fonts/upheavtt.ttf');
}
/*ANIMACIONES*/
@keyframes vibrar {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes desaparecer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
*{
    margin: 0vh;
    padding: 0vh;
    box-sizing: border-box;/*forma de tomar los bordees y contenido para las medidas totales con vh*/
    font-family: "Times New Roman", Times, serif;
    background-color: black;
/*PARRAFOS DE TEXTO*/
}p{
    text-align: center;
    font-family: 'upheavtt', sans-serif;
    color: white;
    background-color: transparent;
}#Nombres{
    font-size: 6vh;
}#Dialogos{
    font-size: 5vh;
    position: absolute;
    margin: 2vh;
    top: 0.2vh;
    left: auto;
}.TextoEsfera{
    font-size: 5vh;
    color: green;
}
#TextoEsfera1{
    position: absolute;
    top: 20vh;
    left: auto;
}
#TextoEsfera2{
    position: absolute;
    top: 25vh;
    left: auto;
}
#TextoEsfera3{
    position: absolute;
    top: 10vh;
    left: auto;
}
#TextoEsfera4{
    position: absolute;
    top: 15vh;
    left: auto;
/*RECUADROS DE TEXTO*/
}.Recuadros{
    display: flex; /* contenedor flexible*/
    justify-content: center; /* Centra los elementos secundarios de manera horizontal*/
}
#Recuadro-de-Nombres{
    background-color: black;
    width: 15%;
    height: 7%;
    margin: 6vh auto;
    border: 0.5vh solid white;
    padding: 0.5vh;
    position: absolute;
    top: 50%;
    left: 22%;
    z-index: 1;
    border-radius: 2vh;
}
#Recuadro-de-Dialogos{
    background-color: black;
    width: 60%;
    height: 35%;
    margin: 6vh auto;
    padding: 5vh;
    border: 0.5vh solid white;
    position: absolute;
    top: 55%;
    left: 19%;
    border-radius: 2vh;
}
#Esfera{
    display: none;/*    display: flex;    */
    align-items: center; /* Centrar los elementos secundarios de manera vertical*/
    position: absolute;
    top: 15%;
    left: 34%;
    width: 32%;
    height: 70%;
    border-radius: 50%;
    background-color: black;
    flex-direction: column;
    box-shadow: 0 0 10px white;

}
/*BOTONES*/
.Botones{
    background-color: transparent;
    cursor: pointer;
    width: 131px;
    height: 131px;
    position: absolute;
    top:45%;
}
#Boton1{
    left: 85%;
}
#Boton2{
    left: 5%;
}
/*IMAGENES*/
#Background{
    display: none;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: aparecer 1s ease forwards;/*ease = animacion suave, forwards= mantiene el estado final de la animacion*/

}.Personajes{
    display: none;
    background-color: transparent;
}
#Nishi{
    display: flex;
    width: 20%;
    height: 60%;
    position: absolute;
    z-index: -1;
    bottom: 35%;
    left: 40%;
    animation: aparecer 1s ease forwards;/*ease = animacion suave, forwards= mantiene el estado final de la animacion*/
}
#Kei{
    width: 20%;
    height: 60%;
    position: absolute;
    z-index: -1;
    bottom: 35%;
    left: 40%;
}
#Kato{
    width: 28%;
    height: 60%;
    position: absolute;
    z-index: -1;
    bottom: 35%;
    left: 35%;
}
#Hojo{
    width: 20%;
    height: 60%;
    position: absolute;
    z-index: -1;
    bottom: 35%;
    left: 38%;
}
#Tanaka{
    width: 20%;
    height: 60%;
    position: absolute;
    z-index: -1;
    bottom: 35%;
    left: 40%;
}
#Tanaka-Furioso{
    width: 20%;
    height: 60%;
    position: absolute;
    z-index: -1;
    bottom: 35%;
    left: 40%;
}
#Alien{
    display: none;
    background-color: #E1EDE0;
    border: 0.5vh solid green;
    height: 33vh;
    position: absolute;
    top: 20vh;
    left: auto;
}
