@font-face {
    font-family: 'upheavtt';
    src: url('../Assets/Fonts/upheavtt.ttf');
}
*{
    background-color: black;
}
form{
    border: 10px solid white;
    background-color: black;
}
.Square{
    border-radius: 2.5vh;
    animation: vibrarA 0.5s linear forwards infinite;
    animation-play-state: paused;
    border: 10px solid white
}
#SquareCommand{
    align-items: center;
    width: 35vw;
    height: 20vh;
    position: absolute;
    top: 5vh;
    left: 40vw;
}
#SquareAttack{
    align-items: center;
    display: none;
    width: 17vw;
    height: 20vh;
    position: absolute;
    top: 5vh;
    left: 40vw;
}
#SquareItems{
    align-items: center;
    display: none;
    width: 17vw;
    height: 20vh;
    position: absolute;
    top: 5vh;
    left: 40vw; 
}
#SquareNarracion{
    width: 50%;
    height: 30%;
    position: absolute;
    top: 65%;
    left: 25%;

}
#SquareStatus{
    width: 16%;
    height: 43%;
    position: absolute;
    top: 12%;
    left: 18%;
}
#SquareEnemy{
    border: 5px solid black;
    background-color: black;
    width: 32%;
    height: 36%;
    position: absolute;
    top: 28%;
    left: 35.25%;
    z-index: -1;
    animation: vibrarB 0.5s linear forwards infinite;
    animation-play-state: paused;
}

.Command{
    width: 25vw;
    height: 5vh;
}

input[type="button"]{
    width: 49.5%;
    height: 49.5%;
    font-size: 200%;
    font-family: 'upheavtt', sans-serif;
    color: white;
}
#Atacar1{
    width: 17vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
}
#Atacar2{
    width: 17vw;
    height: 10vh;
    position: absolute;
    top: 10vh;
    left: 0;
}
#Item1{
    width: 17vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
}
#Item2{
    width: 17vw;
    height: 10vh;
    position: absolute;
    top: 10vh;
    left: 0;
}
p{
    color: white;
    font-size: 250%;
    font-family: 'upheavtt', sans-serif;
    text-align: start;
    position: absolute;
    top: 1%;
    left: 1%;

}
#stats{
    position: absolute;
    top: -6%;
    left: 10%;
}
#puntos{
    position: absolute;
    top: -6%;
    left: 65%;
}
#Narracion{
    position: absolute;
    top: -12%;
    left: 3%;
}
#Comandos{
    font-size: 350%;
    position: absolute;
    top: -72%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#Nombre{
    font-size: 350%;
    position: absolute;
    top: -32%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#Ataques{
    position: absolute;
    top: -10vh;
    left: 3vw;
    z-index: 1;
}
#Items{
    position: absolute;
    top: -10vh;
    left: 5vw;
    z-index: 1;
}
#Ataque{
    color: red;
    background-color: transparent;
    position: absolute;
    left: 60%;
    top: 35%;
    animation: vibrarC 0.5s linear forwards infinite;
}
#Tanaka{
    width: 15vw;
    height: 45vh;
    position: fixed;/*mantiene el elemento fijo en la ventana del navegador, lo que evita que estire la página hacia abajo.*/
    top: 0vh;
    left: 8vw;
    z-index: 0;
    background-color: transparent;
    animation: vibrarB 0.5s linear forwards infinite;
    animation-play-state: paused;
}

@keyframes vibrarA {
    0% { transform: translateX(0%);border: 10px solid white}
    20% { transform: translateX(-5%);border: 10px solid white}
    40% { transform: translateX(5%);border: 10px solid red}
    60% { transform: translateX(-5%);border: 10px solid white}
    80% { transform: translateX(5%);border: 10px solid red}
    100% { transform: translateX(0%);border: 10px solid white }
}
@keyframes vibrarB {
    0% { transform: translateX(0%);background-color: black}
    20% { transform: translateX(-5%);background-color: red}
    40% { transform: translateX(5%);background-color: black}
    60% { transform: translateX(-5%);background-color: red}
    80% { transform: translateX(5%);background-color: black}
    90% { transform: translateX(0%);background-color: red}
    100%{ transform: translateX(0%); 
        background-color: transparent;}
}
@keyframes vibrarC {
    0% {transform: translateX(0%);}
    25% {transform: translateX(-5%);}
    50% {transform: translateX(5%);}
    75% {transform: translateX(-5%);}
    100% {transform: translateX(0%);}    
}
@keyframes Morir {
    0% {transform: translateY(0vh);}
    50%{transform: translateY(75vh);}
    100%{transform: translateY(150vh);}
}
