#SquareEnemy{
    background-color: transparent;
    width: 32vw;
    height: 50vh;
    position: relative;
    top: 28vh;
    left: 35.25vw;
    overflow: hidden;
    animation-name: transportar1;
    animation-duration: 4s;
    z-index: -1;
}#Tanaka{
    position: relative;/*mantiene el elemento fijo en la ventana del navegador, lo que evita que estire la página hacia abajo.*/
    top: 1vh;
    left: 0vw;
    width: 50%;
    z-index: 0;
    background-color: transparent;
    animation-name: transportar2;
    animation-duration: 4s;
}
.animacion1{
    animation-name: vibrarB;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes vibrarB {
    0% { transform: translateX(0%);background-color: black}
    20% { transform: translateX(-1vh);background-color: red}
    40% { transform: translateX(1vh);background-color: black}
    60% { transform: translateX(-1vh);background-color: red}
    80% { transform: translateX(1vh);background-color: black}
    90% { transform: translateX(-1vh);background-color: red}
    100%{ transform: translateX(0%); background-color: black;
    }
}
@keyframes transportar1 {
    0%{transform: translateY(0%);}
    100%{transform: translateY(120%);}
}
@keyframes transportar2 {
    0%{transform: translateY(0%);}
    100%{transform: translateY(-120%);}
}
