*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

form{
    width: 400px;
    height: 600px;
    padding-top: 5px;
    padding-left: 5px;
    margin: 50px auto;
    border: 2px solid black;
}
h1{
    color: black;
    margin-bottom: 20px;
}

input[type="button"]{
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 2px;
    cursor: pointer;
}
div {
    margin-bottom: 5%;
  }